
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient( to right, rgb(20, 147, 220), rgb(17, 54, 71)  );
}

.dados {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);


padding: 1rem;
border-radius: 1rem;
width: 40%;

color: white;
background-color: rgba(0, 0, 0, 0.6);
}

fieldset{
  border: 0.063rem solid dodgerblue;
  border-radius: 16px;
  padding: 2rem;
}

legend {
  border: 0.063rem solid dodgerblue;
  padding: 0.625rem;
  text-align: center;
  background-color: dodgerblue;
  border-radius: 8px;
}

.inputBox {
  position: relative;

}

.inputUser {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  font-size: 15px;
  width: 100%;
  letter-spacing: 2px;
}

.labelInput {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: .5s;
}

.inputUser:focus ~ .labelInput, .inputUser:valid ~ .labelInput{
 top: -20px;
 font-size: 12px;
 color: dodgerblue;
}

.dataEmissao {
 border: none;
 padding: 8px;
 border-radius: 10px;
 outline: none;
 font-size: 15px;
}

#data-emissao {
  display: flex;
 justify-content: space-between;
 align-items: center;
}

#enviar {
  background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220));
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

#enviar:hover {
  background-image: linear-gradient(to right, rgb(0, 80, 172), rgb(80, 19, 195));
}


/* ================= RECIBO =========================== */




